<!-- wp:template-part {"slug":"header","theme":"enyoi","tagName":"header"} /-->

<!-- wp:group {"tagName":"main", "align":"full", "layout":{"type":"constrained","contentSize":"100%"}} -->
<main id="main-content" class="wp-block-group alignfull">
    <!-- wp:group {"align":"full","className":"container","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull container">
        <!-- wp:pattern {"slug":"enyoi/single-post"} /-->

        <!-- wp:separator {"align":"wide","className":"is-style-wide"} -->
        <hr class="wp-block-separator alignwide has-alpha-channel-opacity is-style-wide" />
        <!-- /wp:separator -->

        <!-- wp:group {"align":"wide","className":"block-inner","layout":{"type":"constrained","wideSize":"1200px"}} -->
        <div class="wp-block-group alignwide block-inner">
            <!-- wp:pattern {"slug":"enyoi/comments"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:spacer -->
        <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->

        <!-- wp:separator {"align":"wide","className":"is-style-wide"} -->
        <hr class="wp-block-separator alignwide has-alpha-channel-opacity is-style-wide" />
        <!-- /wp:separator -->

        <!-- wp:group {"align":"wide","className":"block-inner","layout":{"type":"constrained","wideSize":"1200px"}} -->
        <div class="wp-block-group alignwide block-inner">
            <!-- wp:pattern {"slug":"enyoi/more-posts"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"enyoi","tagName":"footer"} /-->